.card-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back-button {
  padding: 0px 5px;
}

.error-message {
  color: #dc3545;
  font-size: 0.875em;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}
