<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header class="d-flex">
        <strong>{{ isEditMode ? 'Edit' : 'Add' }} Product</strong>
        <!-- Back to list -->
        <button
          cButton
          (click)="onBack()"
          size="sm"
          color="secondary"
          class="back-button"
        >
          Back to list
        </button>
      </c-card-header>
      <c-card-body>
        <form
          cForm
          [formGroup]="productForm"
          (ngSubmit)="onSubmit()"
        >
          <div class="form-group">
            <label cLabel for="name">Product Name</label>
            <input cFormControl id="name" formControlName="name" type="text" />
            <div *ngIf="productForm.get('name')?.invalid && productForm.get('name')?.touched" class="error-message">
              Name is required.
            </div>
          </div>

          <div class="form-group">
            <label cLabel for="description">Description</label>
            <input cFormControl id="description" formControlName="description" type="text" />
            <div *ngIf="productForm.get('description')?.invalid && productForm.get('description')?.touched" class="error-message">
              Description is required.
            </div>
          </div>

          <div class="form-group">
            <label cLabel for="price">Price</label>
            <input cFormControl id="price" formControlName="price" type="number" min="0" />
            <div *ngIf="productForm.get('price')?.invalid && productForm.get('price')?.touched" class="error-message">
              Price must be greater than or equal to 0.
            </div>
          </div>

          <div class="form-group">
            <label cLabel for="categoryId">Category</label>
            <select cSelect id="categoryId" formControlName="categoryId">
              <option value="" disabled>Select a category</option>
              <option *ngFor="let category of categories$ | async" [value]="category.id">{{ category.name }}</option>
            </select>
            <div *ngIf="productForm.get('categoryId')?.invalid && productForm.get('categoryId')?.touched" class="error-message">
              Category is required.
            </div>
          </div>

          <!-- Image upload field -->
          <div class="form-group mb-2">
            <label cLabel for="image">Product Image</label>
            <input cFormControl id="image" type="file" accept="image/*" (change)="onFileChange($event)" />
          </div>

          <!-- Image preview -->
          <div *ngIf="imagePreview || existingImageUrl" class="image-preview">
            <img
              [src]="imagePreview || existingImageUrl"
              alt="Product Image Preview"
              style="max-width: 200px; max-height: 200px;"
            />
            <button
              cButton
              color="danger"
              size="sm"
              (click)="removeImage()"
              type="button"
              class="text-white"
              cTooltip="Remove image"
              cTooltipPlacement="top"
            >
              <svg
                cIcon
                name="cil-trash"
                size="sm"
              ></svg>
            </button>
          </div>

          <div class="button-container">
            <button
              cButton
              type="submit"
              [disabled]="productForm.invalid"
              class="text-white submit-button"
              color="info"
              >
                {{ isEditMode ? 'Update' : 'Add' }} Product
            </button>
          </div>
        </form>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
