<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Purchase History List</strong>
      </c-card-header>
      <c-card-body>
        <app-table
          [data]="(userPurchasesCurrentUser$ | async) ?? []"
          [pageSize]="pageSize"
          [columns]="columns"
          [noAction]="true"
          (pageSizeChange)="onPageSizeChange($event)"
          (pageChange)="onPageChange($event)"
        />
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
