nav {
  margin: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  li {
    margin: 0 5px;
  }

  a {
    color: #0acafa;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }

    &.active {
      background-color: #2980b9;
      color: #ffffff;
    }
  }
  li:first-child {
    a {
      margin-left: 0px
    }
  }

  .logout-container {
    button {
      transition: background-color 0.3s;
      background-color: #dc3545;
      color: white;
      border: none;
      cursor: pointer;
      padding: 8px 12px;
      border-radius: 5px;
    }

    button:hover {
      background-color: #c82333;
    }
  }

}
