<c-card-group class="flex-column gap-4">
  <!-- Calendar user purchases by days -->
  <c-col xs="12">
    <c-card>
      <!-- Header -->
      <c-card-header class="">
        <h5>
          User Purchases by Days
        </h5>
      </c-card-header>
      <!-- Body -->
      <c-card-body>
        <mwl-calendar-month-view
          [ngClass]="calendarTheme()"
          [viewDate]="viewDate"
          [events]="events"
          [activeDayIsOpen]="showDayEventDetail"
          (dayClicked)="onDayClicked($event.day)"
        />
      </c-card-body>
    </c-card>
  </c-col>

  <!-- Pie chart products by categories -->
  <c-col xs="12">
    <c-card>
      <!-- Header -->
      <c-card-header class="w-100">
        <h5>
          Products by Categories
        </h5>
      </c-card-header>
      <c-card-body class="d-flex justify-content-center h-100">
        <app-pie-chart
          [chartData]="chartData"
          [chartLabels]="chartLabels"
        />
      </c-card-body>
    </c-card>
  </c-col>
</c-card-group>

