<c-card-group class="mb-4">
  @for(product of (products$ | async); track product.id) {
    <c-col xs="12" sm="6" md="4">
      <c-card class="mb-4 mx-3">
        <!-- Header -->
        <c-card-header>
          <strong>{{ product.name }}</strong>
        </c-card-header>
        <img
          [src]="product.imageUrl"
          cCardImg="top"
          height="250"
          class="w-100"
        />

        <!-- Body -->
        <c-card-body>
          <p class="mt-3">{{ product.description }}</p>
          <p class="fw-semibold">{{ product.price | appCurrency }}</p>

          <div class="d-flex justify-content-center pt-4">
            <button
              cButton
              color="primary"
              (click)="onPurchase(product)"
            >
              Purchase Now
            </button>
          </div>
        </c-card-body>

      </c-card>
    </c-col>
  }
</c-card-group>

<!-- Modal purchase product -->
<c-modal
  #verticallyCenteredModal
  alignment="center"
  id="verticallyCenteredModal"
  [visible]="isVisibleModalPurchase"
  (visibleChange)="isVisibleModalPurchase = $event"
  *ngIf="productPurchaseForm && productToPurchase"
>
  <c-modal-header>
    <h5 cModalTitle>Purchase Product</h5>
  </c-modal-header>

  <c-modal-body>
    <form
      cForm
      [formGroup]="productPurchaseForm"
      (ngSubmit)="confirmPurchase()"
    >
      <!-- Quantity -->
      <div class="form-group">
        <label cLabel for="quantity">Quantity</label>
        <input
          cFormControl
          id="quantity"
          formControlName="quantity"
          type="number"
          class="form-control"
          (change)="productPurchaseForm.patchValue({ total: productToPurchase.price * productPurchaseForm.get('quantity')?.value })"
        />
        <div
          *ngIf="productPurchaseForm.get('quantity')?.invalid && productPurchaseForm.get('quantity')?.touched"
          class="error-message"
        >
          Quantity is required.
        </div>
      </div>

      <!-- Purchase Product Info -->
      <div class="mt-4">
        <!-- Name -->
        <div class="d-flex justify-content-between">
          <p class="fw-semibold">Product Name:</p>
          <p>{{ productToPurchase.name }}</p>
        </div>
        <!-- Price -->
        <div class="d-flex justify-content-between">
          <p class="fw-semibold">Base Price:</p>
          <p>{{ productToPurchase.price | appCurrency }}</p>
        </div>
        <!-- Total Price -->
        <div class="d-flex justify-content-between">
          <p class="fw-semibold">Total Price:</p>
          <p>{{ (productToPurchase.price) * (productPurchaseForm.get('quantity')?.value ?? 0) | appCurrency }}</p>
        </div>
      </div>

      <!-- Button footer -->
      <div class="d-flex justify-content-center gap-3 mt-4">
        <button
          cButton
          class="text-white"
          type="submit"
          [disabled]="productPurchaseForm.invalid"
        >
          Purchase
        </button>
        <button cButton color="secondary" (click)="cancelPurchase()">
          Cancel
        </button>
      </div>
    </form>
  </c-modal-body>
</c-modal>
