button {
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  color: white !important;
  cursor: pointer;
}

.table-widget {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  .input-search {
    width: 200px;
  }
}

.table {
  margin-bottom: 0;
}

.table-pagination {
  display: flex;
  justify-content: center;
}
